
.project-image {
    object-fit: cover;
    max-width: 400px;
    max-height: 600px;
    /* flex-basis: 50px; */ /* You might adjust or remove this property */
    flex-grow: 2;
  
    /* Debug border */
    /* border: 2px solid black; */
}

.project-details {
    display: flex;
    /* height: 350px; */ /* Consider using min-height or let content dictate height */
    min-height: 350px;
    background-color: #fbc372;
    width: 60%;
    padding: 10px;
    line-height: 1.5;
    /* overflow: scroll; */ /* Consider removing this property */
    flex-direction: column;
    text-align: center;
}

.project-description {
    font-size: 20px;
    font-weight: normal; /* Adjust as needed */
}

.project-details a {
    color: var(--cg-black);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.project-details a:hover {
    color: var(--cg-blue);
    text-decoration: underline;
}
